header{
    position: fixed;
    /* position: relative; */
    z-index: 3;
    width: 100%;
    left: 0;
    padding: 0;
    right: 0;
    top: 0;
}
header .topbar{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #10172c;
    color: #fff;
}
header .topbar .greet{
    margin: 0 25px;
    font-size: 13px;
}
header .topbar .greet p{
    margin: 0;
    /* text-align: justify; */
}
header .topbar .topbar-contact{
    margin: 0 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .topbar .topbar-contact .cols{
    margin: 0 25px;
    font-size: 13px;
    cursor: pointer;
}
header .main-navigation nav a .logo{
    width: 80%;
    height: auto;
}
header .main-navigation .navbar{
    padding: 0 3rem;
}
header .main-navigation nav{
    padding: 0;
    background-color: #fff;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}
.navbar-expand-lg .navbar-nav .nav-link{
    color: #16203f;
    font-weight: 550;
    margin-left: 20px;
    white-space: nowrap;
    font-size: 14px;
}
.navbar-brand{
    margin: 0;
}
/* .navbar-toggler {
    padding: .25rem .75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: green;
    border: 1px solid red;
    border-radius: .25rem;
} */


@media (max-width: 891px){
    header .topbar .topbar-contact .cols span{
        display: none;
    }
}
@media (max-width: 395px){
    header .main-navigation nav a .logo{
        width: 80%;
        height: auto;
    }
    
}
@media (max-width: 379px){
    header .main-navigation .navbar {
        padding: .5rem 1rem;
    }
    
}
@media (min-width: 320px) and (max-width: 375px){
    header .topbar .greet p {
        margin: 0;
        font-size: 9px;
    }
    
}
@media (min-width: 320px) and (max-width: 564px){
    header .topbar .topbar-contact .fa{
        font-size: 20px;
    }
    header .topbar .topbar-contact .cols{
        margin: 0 15px;
        font-size: 13px;
    }
}
@media (max-width: 320px){
    .collapse{
        width: 300px;
        background: rgb(255, 255, 255);
        position: fixed;
        z-index: 234234;
    }
}