@import "header.css";
@import "home.css";
@import "footer.css";
*, html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Poppins", sans-serif;
    width: 100%;
}
.preloader {
    background-color:  #10172c;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99999; 
}
a{
    cursor: pointer;
}
.spinner {
    width: 60px;
    height: 60px;
    background-color: #ffffff;
    border-radius: 100%;
    -webkit-animation: sk-scaleout 1s infinite ease-in-out;
    animation: sk-scaleout 1s infinite ease-in-out;
}
@-webkit-keyframes sk-scaleout {
    0% {
        -webkit-transform: scale(0);
        -ms-transform: scale(0);
        transform: scale(0);
    }
    100% {
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
        opacity: 0;
    }
}
@keyframes sk-scaleout {
    0% {
        -webkit-transform: scale(0);
        -ms-transform: scale(0);
        transform: scale(0); }
    100% {
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
        opacity: 0;
    }
}

a#scrollUp {
    position: fixed;
    right: 10px;
    bottom: 20px;
    height: 45px;
    width: 45px;
    background: #222;
    text-align: center;
    line-height: 45px;
    color: #fff;
    font-size: 12px;
    border-radius: 5px;
}
a#scrollUp:hover {
    background: #23a2c1;
}
.slider-banner-area-1{
    background: url(../img/slide1.jpg) center;
    background-size: cover;
}
.slider-banner-area-2{
    background: url(../img/slide2.jpg) center;
    background-size: cover;
}
.slider-banner-area-3{
    background: url(../img/slide3.jpg) center;
    background-size: cover;
}


.banner-area .btn {
    border: 0;
    box-shadow: none;
    padding: 12px 30px 12px 30px;
    border-radius: 0px;
}
.card:hover{
    background-color: #23a2c1;
    cursor: pointer;
    color: #fff;
    
}
.card p{
    font-size: 16px;
}
.w-80{
    width: 80%;
}

.owl-carousel{
  touch-action: none;
}
.owl-nav i {
  font-size: 20px;
  color: #fff;
}

/* .owl-nav .owl-prev {
  left: -30px;
}

.owl-nav .owl-next {
  right: -30px;
} */
.owl-carousel .owl-dots.disabled, .owl-carousel .owl-nav.disabled{
  display: block;
}
.owl-nav div {
    position: absolute;
    left: 0;
    top: 60%;
    height: 40px;
    width: 40px;
    line-height: 40px;
    text-align: center;
    /* background: #1AAD19; */
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    color: #fff;
    border-radius: 50px;
}
.owl-nav div.owl-next {
    left: auto;
    right: 0;
}
