@import "header.css";
@import "home.css";
@import "footer.css";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Poppins", sans-serif;
}
a#scrollUp {
    position: fixed;
    right: 10px;
    bottom: 20px;
    height: 45px;
    width: 45px;
    background: #222;
    text-align: center;
    line-height: 45px;
    color: #fff;
    font-size: 12px;
    border-radius: 5px;
}
a#scrollUp:hover {
    background: #23a2c1;
}
.banner-area{
    background: url(../img/bg-home.jpg) center;
    background-size: cover;
}
.banner-area .btn {
    border: 0;
    box-shadow: none;
    padding: 12px 30px 12px 30px;
    border-radius: 0px;
}
.card:hover{
    background-color: #23a2c1;
    cursor: pointer;
    color: #fff;
    
}
.card p{
    font-size: 16px;
}
.w-80{
    width: 80%;
}

.owl-nav button {
    position: absolute;
    top: 50%;
    background-color: #000;
    color: #fff;
    margin: 0;
    transition: all 0.3s ease-in-out;
  }
  .owl-nav button.owl-prev {
    left: 0;
  }
  .owl-nav button.owl-next {
    right: 0;
  }
  
  .owl-dots {
    text-align: center;
    padding-top: 15px;
  }
  .owl-dots button.owl-dot {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    display: inline-block;
    background: #ccc;
    margin: 0 3px;
  }
  .owl-dots button.owl-dot.active {
    background-color: #000;
  }
  .owl-dots button.owl-dot:focus {
    outline: none;
  }
  .owl-nav button {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      background: rgba(255, 255, 255, 0.38) !important;
  }
  span {
      font-size: 70px;    
      position: relative;
      top: -5px;
  }
  .owl-nav button:focus {
      outline: none;
  }


